section#ipad {
    background-color: #f1f1f1;
    width: 100vw;
    display: flex;
    justify-content: center;
}

#ipad .text {
    margin: 0 auto;
    padding: 23px;
    text-align: center;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#ipad  .text h1 {
    font-size: 2.5em;
}

#ipad .text h2 {
    font-size: 1.1em;
}

#ipad  .text h3 {
    color: #86868B;
    font-size: 1em;
}

#ipad  .btns {
    display: flex;
    gap: 20px;
}

#ipad  .btn-1,
#ipad  .btn-2 {
    font-size: 1.2em;
    border: 1px solid #0077ED;
    padding: 10px;
    border-radius: 20px;
}

#ipad  .btn-1 {
    color: white;
    background-color: #0077ED;
}

#ipad  .btn-2 {
    color: #0077ED;
    background-color: transparent;
}

#ipad .img-ipad {
    padding-top: 10px;
    padding-bottom: 20px;
    width: 100%;
    max-width: 530px;
}

#ipad .img-ipad img {
    width: 100%;
}