@charset "UTF-8";
@import url(header.css);
@import url(section-1.css);
@import url(section-2.css);
@import url(section-3.css);
@import url(section-4.css);
@import url(section-5.css);
@import url(section-6.css);
@import url(section-7.css);
@import url(section-8.css);
@import url(section-9.css);
@import url(section-10.css);
@import url(footer.css);

@font-face {
    font-family: 'Apple Font';
    src: url(../fonts/SFPRODISPLAYREGULAR.OTF);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Apple Font';
}

body {
    background-color: #fff;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    gap: 15px;
}

.container {
    width: 90%;
    max-width: 1400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.column {
    display: flex;
    flex-direction: column;
}

section#grid {
    display: grid;
    grid-template-columns: 1fr;
}

button {
    cursor: pointer;
}

#iphone-15-pro .btn-2:hover,
#ipad-pro .btn-2:hover,
#iphone-15 .btn-2:hover,
#watch .btn-2:hover,
#macbook .btn-2:hover,
#ipad .btn-2:hover,
#airpods .btn-2:hover {
    color: white;
    background-color: #0077ED;
}

@media screen and (min-width: 1440px) {
    section#grid {
        gap: 15px;
        grid-template-columns: repeat(2, 1fr);
    }

    #iphone-15-pro {
        max-width: 50vw;
    }

    #iphone-15 {
        max-width: 50vw;
    }

    #watch {
        max-width: 50vw;
    }

    #macbook {
        max-width: 50vw;
    }

    #ipad {
        max-width: 50vw;
    }

    #airpods {
        max-width: 50vw;
    } 
}